@set pagecontrol {
    :root {
        display: block;
    }

    :root .pagecontrol {
        behavior: tabs;

        width: *;
        height: *;

        background: red;
        overflow: hidden;
    }

    /* header for tabsheet caption */
    .header {
        flow: horizontal;
        margin-bottom: -1px;
        padding: 2px 2px 0 2px;
    }

    /* single tabsheet caption */
    .header > div {
        margin-bottom: 1px;
        /* not wider than max-intrinsic */
        max-width: auto;
        height: *;

        padding: 3px 8px;

        background-image: url(theme:tab-item-normal);
        background-repeat: stretch;

        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .header > div:hover {
        background-image: url(theme:tab-item-hover);
        transition: blend;
    }

    .header > div:selected {
        margin: -2px -2px -1px -2px;
        padding: 4px 10px 5px 10px;
        position: relative;

        background-image: url(theme:tab-item-selected);
    }

    .header > div:selected:hover {
        background-image: url(theme:tab-item-selected);
        transition: none;
    }

    .header > div:selected:first-child,
    .header > div:selected:hover:first-child {
        background-image: url(theme:tab-item-leftmost-selected);
    }

    /*
    :root:focus .header div:selected {
        background-image: url(theme:tab-item-focused);
    }
    */

    /* outline active tab content if we've gotten focus by tab */
    :root:tab-focus > .header > div:selected > * {
        outline: 1px dotted invert;
    }

    /* tabsheets */
    .tabsheet {
        display: none;
    }

    .tabsheet:expanded {
        display: block;

        height: *;

        padding: *;

        background-image: url(theme:tab-panel);
        background-repeat: stretch;
    }
}
