clock {
    prototype: Clock url("clock.js");
    style-set: clock;
}

@set clock {
    :root {
        display: block;
    }

    :root > div > span {
        display: inline-block;

        margin: 0;
        margin-right: 5dip;

        border-radius: 3dip;

        padding: 3dip;

        background: rgb(69,43,45);

        font-family: Lato, arial;
        font-size: 25dip;
        color: white;
        vertical-align: bottom;
    }

    /* hours */
    :root > div > span:first-child {
        font-size: 30dip;
    }

    /* seconds */
    :root > div > span:last-child {
        font-size: 20dip;
    }
}
