groupbox {
    prototype: GroupBox url('groupbox.js');
    style-set: groupbox;
}

@set groupbox {
    :root {
        display: block;

        margin: 0;
        width: *;
    }

    :root > legend {
        vertical-align: top;
    }
}
